<h1>Just To Be Safe...</h1>
<p>
    We've sent you a one-time password to verify your posession of a mobile
    phone tied to this account. Can you enter the code we sent?
</p>
<form id="verifyForm">
    <div class="form-group">
        <label for="code">Verification Code:</label>
        <input type="text" class="form-control" id="code">
    </div>
    <div class="form-group">
        <p><a href="#resend">Resend my code!</a></p>
    </div>
    <button type="submit" class="btn btn-primary">Verify Code</button>
</form>