.chapter(data-title='Application Setup')
  include chapter1
.chapter(data-title='Authentication Domain Model')
  include chapter2
.chapter(data-title='The Authentication Flow')
  include chapter3
.chapter(data-title='Accessing Protected Resources')
  include chapter4