# Requirements for authy2fa-flask

# Flask + assorted extensions
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-DotEnv==0.1.1
Flask-Migrate==2.2.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2

# Other libraries
authy==2.2.2
requests>=2.20.0

# Production server
gunicorn==19.9.0

# Testing
coverage==4.5.1
