Flask==0.10.1
Flask-Bootstrap==3.3.5.6
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
psycopg2==2.6.1
itsdangerous==0.24

authy==2.1.2

# the following requirement is just for Heroku deploy button
gunicorn==19.3.0
