<!DOCTYPE html>
<html>
<head>
    <title>2FA with Authy</title>
    <link rel="shortcut icon" 
        href="//twilio.com/bundles/marketing/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" 
        href="//twilio.com/bundles/marketing/img/favicons/favicon_57.png">
    <link rel="apple-touch-icon" sizes="72x72" 
        href="//twilio.com//bundles/marketing/img/favicons/favicon_72.png">
    <link rel="apple-touch-icon" sizes="114x114" 
        href="//twilio.com/bundles/marketing/img/favicons/favicon_114.png">

    <!-- CSS Dependencies -->
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" 
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Authy Form Helpers -->
    <link href="https://www.authy.com/form.authy.min.css" 
        media="screen" rel="stylesheet" type="text/css">
    <script src="https://www.authy.com/form.authy.min.js" 
        type="text/javascript"></script>

    <!-- App CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<!-- App Layout -->
<section id="main" class="container">
    <!-- Nav Bar -->
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#home">2FA with Authy</a>
        <p id="nav-links" class="navbar-text pull-right">
        </p>
    </nav>

    <!-- Any of the app's informational messages will go here -->
    <section id="messages"></section>

    <!-- Main app content will appear here -->
    <section id="page"></section>

</section>

<footer class="container">
    Made with <i class="fa fa-heart"></i> by your pals
    <a href="http://www.twilio.com">@twilio</a>
</footer>

<!-- JS Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<!-- App scripts -->
<script src="app/models/App.js"></script>
<script src="app/views/BaseView.js"></script>
<script src="app/views/Home.js"></script>
<script src="app/views/Signup.js"></script>
<script src="app/views/Login.js"></script>
<script src="app/views/Verify.js"></script>
<script src="app/views/Nav.js"></script>
<script src="app/views/Messages.js"></script>
<script src="app/views/User.js"></script>
<script src="app/router.js"></script>
<script src="app/index.js"></script>

</body>
</html>