{% extends "base.html" %}

{% block page_content %}
<h1>Just To Be Safe...</h1>
<p>
    We've sent you a one-time password to verify your posession of a mobile
    phone tied to this account. Can you enter the code we sent?
</p>

<form method="POST">
    {{ form.hidden_tag() }}

    {% from "_formhelpers.html" import render_errors, render_field %}

    {{ render_errors(form) }}

    {{ render_field(form.verification_code) }}

    <input type="submit" class="btn btn-primary" value="Verify code">
</form>

<br/>

<form method="POST" action="{{ url_for('auth.resend') }}">
    <button type="submit" class="btn">Resend my code</button>
</form>
{% endblock %}