<h1>Welcome Back!</h1>
<p>
    You never write. You never call. But we're glad you came, regardless!
    Be a pal and confirm your username and password, would you?
</p>
<form id="loginForm">
    <div class="form-group">
        <label for="email">E-Mail:</label>
        <input type="text" class="form-control" id="email" 
            placeholder="you@yourdomain.com">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>